{% extends "base.html" %}
{% block content %}

<!-- MAIN SECTION -->
<main id="main" class="columns is-gapless my-5">

    <!-- SIDEBAR -->
    <section class="column is-one-quarter ">
       <div class="card m-4 round-1">
           <a href="/forum" class="is-flex is-flex-direction-column is-align-items-center mt-4">
               <img src="/assets/birdnet_logo.png" width="100" height="30">
               <h2 class="heading-font is-size-3 has-text-black mx-2">BirdNet</h2>
               <h2 class="spaced-font is-size-5 has-text-black mx-2">FORUM</h2>
           </a>

           <form class="navbar-item is-flex is-flex-direction-column is-align-items-start mb-2" action="/forum/search/" method="POST">
               <label class="label mb-2">Search the forum:</label>
               <input name="search-query" class="input input-shadow mb-4" placeholder="Search for a profile or post" type="text"/> 
               <input class="button is-light mb-2" type="submit" value="Search"/>   
           </form>
       </div>

       <div id="popular-posts">
           <div class="card m-4 p-4 round-1 is-flex is-flex-direction-column">
               <h2 class="heading-font is-size-4 has-text-centered mb-3">Popular Threads</h2>

               {% if popular_threads %}
                    {% for thread in popular_threads %}
                        <a class="has-text-black body-font py-1 is-size-6" href="{{ '/forum/thread/{}'.format(thread.thread_id) }}">
                            {{ thread.title }}
                        </a>
                    {% endfor %}
                {% endif %}
           </div>
       </div>
       
   </section>

   <!-- RECENT POSTS -->
   <section class="column m-5 ">    
       {% if session['username'] %}
       <h2 class="heading-font is-size-3 my-5 ">Create a new thread</h2>

       <form action="/forum/" method="POST" enctype="multipart/form-data">
       <div class="card columns p-3 round-1 mb-5">
            <div class="column is-three-quarters">
                <input class="input input-shadow mb-2 heading-font" type="text" name="thread-title" placeholder="Add thread title" required/> 
                {% if errors %}
                    {% if errors["title"] %}
                        <p class="mt-1 mb-4 n has-text-danger"> {{ errors['title'] }} </p>
                    {% endif %}
                {% endif %}  
                <textarea class="textarea input-shadow heading-font" name="thread-caption" placeholder="Write something here" required></textarea>
                {% if errors %}
                    {% if errors["caption"] %}
                        <p class="mt-2 mb-4 n has-text-danger"> {{ errors['caption'] }} </p>
                    {% endif %}
                {% endif %}  
            </div>
            <div class="column is-one-quarter is-flex is-flex-direction-column is-justify-content-flex-end">

                <div id="image-upload-preview"></div>

                <div id="post-image-upload" class="file mb-3">
                    <label class="file-label">
                        <input class="file-input mb-5 body-font" type="file" name="thread-image" accept="image/png, image/jpeg, image/jpg">
                        <span class="file-cta">
                            <span class="file-label heading-font"> 
                                <img class="image is-24x24 mr-2" src="/assets/forum_add_images.png">
                                Add Images 
                            </span>
                        </span>
                    </label>
                </div> 
                
                <input class="button yellow-bg spaced-font" type="submit" value="POST">
            </div>
       </div>
       </form>

       {% endif %}

       <h2 class="heading-font is-size-3 my-5 ">New Discussions</h2>

    {% if new_threads == None %}
    <div class="is-flex is-flex-direction-column">
        <i><h1 class="heading-font is-size-3 has-text-black has-text-centered my-3">No New Discussion</h1></i>

        <figure class="image p-3 m-5">
            <img src="/images/sample_img_2.png">
        </figure>
    </div>
    {% endif %}
    {% for thread in new_threads %}
       <div class="card p-3 round-1 mb-5">
           <div class="media">
               
                <div class="media-left">
                    <figure class="image is-48x48">
                        <img class="is-rounded" src="{{ '/profile_photos/' + thread.creator.profile_photo_path }}"> 
                    </figure>
                </div>
                <div class="media-content">
                    <p class=""> 
                        By <a href="{{ '/profile/' + thread.username}}">{{ thread.username }}</a> 
                        at {{ thread.creation_date.strftime('%H:%M, %d %B, %Y') }} </p>
                    <a class="heading-font is-size-4" href= "{{ '/forum/thread/{}'.format(thread.thread_id) }}" > {{ thread.title }} </a>
                </div>
            </div>

            <div class="columns">
                {% if thread.image_path != None %}
                <div class="column is-one-third">
                    <figure class="image">
                        <img class="round-1" src="{{ '\\thread\\' + thread.image_path }}"> 
                    </figure>
                </div>
                {% endif %}

                <div class="column">
                    <p class="">{{ thread.caption }}</p>    
                </div>
            </div>
            <footer class="card-footer">
                {% if 'username' in session %}
                <a href="{{ '/forum/thread/{}'.format(thread.thread_id) }}" class="card-footer-item">Reply</a>
                {% endif %}
                <a href="#" class="card-footer-item"> {{ thread.view_count }} views</a>
            </footer>
        </div>
    {% endfor %}

   </section>

</main>

{% endblock %}