{% extends "base.html" %}
{% block content %}

<script>
    function toggleDropdown(id) {
        document.getElementById(id).classList.toggle('is-active');
    }

    function launchModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.classList.toggle("is-active");
    }
</script>

<div class="columns is-flex is-flex-direction-column is-align-items-center">
<div class="column is-two-thirds m-3">  

<div id="error-div" class="is-flex m-3 p-2 is-align-items-center is-justify-content-center">
    {% if status == "reply-creation-successful" %}
        <span class="notification is-success">
            Reply posted
        </span>
    {% elif status == "reply-creation-failed" %}
        <span class="notification is-danger">
            Reply couldn't be posted. Please try again.
        </span>
    {% elif status == "thread-updation-successful" %}
        <span class="notification is-success">
            Thread edited successfully.
        </span>
    {% elif status == "thread-updation-failed" %}
        <span class="notification is-danger">
            Thread couldn't be edited. Please try again.
        </span>
    {% elif status == "reply-updation-successful" %}
        <span class="notification is-success">
            Reply edited successfully.
        </span>
    {% elif status == "reply-updation-failed" %}
        <span class="notification is-danger">
            Reply couldn't be edited. Please try again.
        </span>
        {% elif status == "thread-deletion-successful" %}
        <span class="notification is-success">
            Thread deleted successfully.
        </span>
    {% elif status == "thread-deletion-failed" %}
        <span class="notification is-danger">
            Thread couldn't be deleted. Please try again.
        </span>
    {% elif status == "reply-deletion-successful" %}
        <span class="notification is-success">
            Reply deleted successfully.
        </span>
    {% elif status == "reply-deletion-failed" %}
        <span class="notification is-danger">
            Reply couldn't be deleted. Please try again.
        </span>
    {% endif %}
</div>

{% if thread %}
    <!-- THREAD -->
    <div class="card p-3 round-1 mb-5">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48" style="max-width: 600px">
                    <img class="is-rounded" src="{{ '/profile_photos/' + thread.creator.profile_photo_path }}" > 
                </figure>
            </div>
            <div class="media-content">
                <p class="is-flex is-align-items-center">
                    By &nbsp;<a href="{{ '/profile/' + thread.username}}">{{ thread.username }}</a> 
                    {% if thread.creator.is_admin == True %}
                        <img class="image is-24x24" src="/assets/admin_badge.png">
                    {% endif %}
                    &nbsp;at {{ thread.creation_date.strftime('%H:%M, %d %B, %Y') }} 
                </p>
                <h2 class="heading-font is-size-4 mb-3">{{ thread.title }}</h2>
            </div>
            {% if thread.username == session['username'] %}
                 <div class="media-right">
                    <div id="dd1" class="dropdown is-right">
                        <div class="dropdown-trigger">
                          <button class="button" aria-haspopup="true" onclick="toggleDropdown('dd1');"> 
                            <img class="image is-24x24" src="/assets/forum_dropdown_arrow.png" >
                         </button>
                        </div>
                        <div class="dropdown-menu" role="menu">
                          <div class="dropdown-content">
                              <button onclick = "launchModal('{{ thread.username }}_{{ thread.id }}')" class="dropdown-item button is-light is-primary"> Edit </button>
                              <button onclick = "launchModal('{{ thread.username }}_thread_delete_{{ thread.thread_id }}');" class="dropdown-item button is-light is-danger"> Delete </button>
                          </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="media">
            <div class="media-content">
                {% if thread.image_path != None %}
                <figure class="mx-6" style="width: 300px;">
                    <img class="image" src="{{ '\\thread\\' + thread.image_path }}"> 
                </figure>
                {% endif %}
                <p class="mx-4 my-4"> {{ thread.caption }} </p>
            </div>
        </div>
        <footer class="card-footer">
            {% if 'username' in session %}
            <a href="#reply-block" class="card-footer-item has-text-black">Reply</a>
            {% endif %}
            <p class="card-footer-item"> {{ thread.view_count }} views</p>
        </footer>
    </div>

     <!-- EDIT THREAD MODAL -->
    {% if thread.username == session['username'] %}          
    <section id="{{ thread.username }}_{{ thread.id }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card m-2">
    
            <header class="modal-card-head">
              <div class="modal-card-title is-flex">
                <img class="image is-32x32" src="/assets/profile_edit.png"> 
                <h2 class="has-text-black is-size-5 ml-3">Edit Thread</h2>
              </div>
              <button class="delete" aria-label="close" onclick="launchModal('{{ thread.username }}_{{ thread.id }}');"></button>
            </header>
    
            <section class="modal-card-body">
                <form action="?" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="form-type" value="edit-thread">
                <input type="hidden" name="thread-id" value="{{ thread.thread_id }}">

                <div class="is-flex is-flex-direction-column">
                    <input class="input input-shadow mb-2 heading-font" type="text" name="thread-title" value="{{ thread.title }}" placeholder="Add thread title" required/> 
                    {% if errors %}
                        {% if errors["new-title"] and errors[thread-id] == thread.thread_id %}
                            <p class="mt-1 mb-4 n has-text-danger"> {{ errors['new-title'] }} </p>
                        {% endif %}
                    {% endif %}  
                    <textarea class="textarea input-shadow body-font" name="thread-caption" placeholder="Write something here" required>{{ thread.caption }}</textarea>
                    {% if errors %}
                        {% if errors["new-caption"] and errors[thread-id] == thread.thread_id %}
                            <p class="mt-2 mb-4 n has-text-danger"> {{ errors['new-caption'] }} </p>
                        {% endif %}
                    {% endif %}  
    
                    {% if thread.image_path != None %}
                        <figure id="image-upload-preview" class="image m-3" style="width: 150px;">
                            <p class="is-size-6 mb-2">Current Image:</p>
                            <img class="round-1" src ="{{ '/thread/' + thread.image_path }}">
                        </figure>
                    {% endif %}

                    <label class="checkbox my-2">
                        <input type="checkbox" name="delete-image">
                        Delete current image? <p class="has-text-danger">(This action cannot be undone)</p>
                    </label>
    
                    <div class="file my-3">
                        <label id="edit-thread-image-upload" class="file-label">
                            <input class="file-input mb-5 body-font" type="file" name="thread-image" accept="image/png, image/jpeg, image/jpg">
                            <span class="file-cta">
                                <span class="file-label heading-font"> 
                                    <img class="image is-24x24 mr-2" src="/assets/forum_add_images.png">
                                    Add or Replace Image 
                                </span>
                            </span>
                            <span class="file-name">
                                No file chosen
                            </span>
                        </label>
                    </div> 

                    <i><p>New image preview:</p></i>
                    <figure style="width: 150px;">
                        <img class="m-2" id="edit-thread-image-preview" src=""> 
                    </figure>
                    
                    <input class="button yellow-bg spaced-font" type="submit" value="SAVE CHANGES">
                </div>
                </form>
            </section>
        </div>
    </section>
    
    <!-- DELETE REPLY MODAL -->
    <section id="{{ thread.username }}_thread_delete_{{ thread.thread_id }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card m-2">

            <header class="modal-card-head">
                <div class="modal-card-title is-flex">
                <img class="image is-32x32" src="/assets/profile_delete.png"> 
                <h2 class="has-text-black is-size-5 ml-3">Delete Thread?</h2>
                </div>
                <button class="delete" aria-label="close" onclick="launchModal('{{ thread.username }}_thread_delete_{{ thread.thread_id }}');"></button>
            </header>

            <form action="?" method="POST" enctype="multipart/form-data">
            <section class="modal-card-body">
                <p class="m-2 is-size-6">This action cannot be undone.</p>
                <input type="hidden" name="form-type" value="delete-thread">
                <input type="hidden" name="thread-id" value="{{ thread.thread_id }}">
            </section>
            <footer class="modal-card-foot">
                <input class="button is-danger spaced-font" type="submit" value="DELETE">
                <button class="button spaced-font" onclick="launchModal('{{ thread.username }}_thread_delete_{{ thread.thread_id }}');">
                    CANCEL
                </button>
            </footer>
            </form>
        </div>
    </section>
    {% endif %}

    {% if errors %}
        {% if errors['thread-id'] == thread.thread_id %}
            <script> launchModal('{{ thread.username }}_{{ thread.id }}'); </script>
        {% endif %} 
    {% endif %} 

{% endif %}


<!-- REPLY BOX -->
{% if 'username' in session %}
<div id="reply-block"class="mx-3 my-5" >
    <form action="?" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="form-type" value="create-reply">
        <div class="card columns round-1">
            <div class="column is-three-fifths">
                <h2 class="has-text-black is-size-6 ml-1 mb-4">Reply to this thread</h2>
                <textarea class="textarea input-shadow body-font" name="reply-caption" placeholder="Write something here" required></textarea>
                {% if errors %}
                    {% if errors['reply-creation'] == True %}
                        {% if errors["reply-caption"] %}
                            <p class="mt-2 mb-4 n has-text-danger"> {{ errors['caption'] }} </p>
                        {% endif %}
                    {% endif %}
                {% endif %}  
            </div>
            <div class="column is-two-fifths is-flex is-flex-direction-column is-justify-content-flex-end">

                <div class="file mb-3">
                    <label id="add-reply-image-upload" class="file-label">
                        <input class="file-input mb-5 body-font" type="file" name="reply-image" accept="image/png, image/jpeg, image/jpg">
                        <span class="file-cta">
                            <span class="file-label heading-font"> 
                                <img class="image is-24x24 mr-2" src="/assets/forum_add_images.png">
                                Add Images 
                            </span>
                        </span>
                        <span class="file-name">
                            No file chosen
                        </span>
                    </label>
                </div> 

                <input class="button yellow-bg spaced-font mb-5" type="submit" value="REPLY">

                <i><p>Image Preview:</p></i>
                <figure style="width: 150px;">
                    <img class="m-2" id="add-reply-image-preview" src=""> 
                </figure>

            </div>
        </div>
    </form>
</div>
{% endif %}

<!-- REPLIES -->
{% for reply in replies %}
    <div class="card p-2 round-1 m-3">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img class="is-rounded" src="{{ '/profile_photos/' + reply.creator.profile_photo_path }}"> 
                </figure>
            </div>
            <div class="media-content">
                <p class="is-flex is-align-items-center">
                    By &nbsp;<a href="{{ '/profile/' + reply.username}}">{{ reply.username }}</a> 
                    {% if reply.creator.is_admin == True %}
                        <img class="image is-24x24" src="/assets/admin_badge.png">
                    {% endif %}
                    &nbsp;at {{ reply.creation_date.strftime('%H:%M, %d %B, %Y') }} 
                </p>
            </div>
            {% if reply.username == session['username'] %}
                <div class="media-right is-flex">
                    <button onclick = "launchModal('{{ reply.username }}_{{ reply.thread_id }}_{{ reply.reply_id }}')" class="button is-light is-small is-primary"> Edit </button> &nbsp;
                    <button onclick = "launchModal('{{ reply.username }}_reply_delete_{{ reply.reply_id }}')" class="button is-light is-small is-danger"> Delete </button>
                </div>
            {% endif %}
        </div>
        <div class="pl-6">
            {% if reply.image_path != None %}
                <figure class="mx-6" style="width: 250px;">
                    <img class="image" src="{{ '\\reply\\' + reply.image_path }}"> 
                </figure>
            {% endif %}
            <p class="mt-3">{{ reply.caption }}</p>
        </div>
    </div>

    {% if reply.username == session['username'] %}
    <!-- EDIT REPLY MODAL -->
    <section id="{{ reply.username }}_{{ reply.thread_id }}_{{ reply.reply_id }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card m-2">

            <header class="modal-card-head">
                <div class="modal-card-title is-flex">
                <img class="image is-32x32" src="/assets/profile_edit.png"> 
                <h2 class="has-text-black is-size-5 ml-3">Edit Reply</h2>
                </div>
                <button class="delete" aria-label="close" onclick="launchModal('{{ reply.username }}_{{ reply.thread_id }}_{{ reply.reply_id }}');"></button>
            </header>

            <section class="modal-card-body">
                <form action="?" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="form-type" value="edit-reply">
                <input type="hidden" name="reply-id" value="{{ reply.reply_id }}">
                <div class="is-flex is-flex-direction-column">
                    <textarea class="textarea input-shadow body-font" name="reply-caption" placeholder="Write something here" required>{{ reply.caption }}</textarea>
                    {% if errors %}
                        {% if errors["new-caption"] and errors[reply-id] == reply.reply_id %}
                            <p class="mt-2 mb-4 n has-text-danger"> {{ errors['new-caption'] }} </p>
                        {% endif %}
                    {% endif %}  

                    {% if reply.image_path != None %}
                        <figure id="image-upload-preview" class="image m-3" style="width: 150px;">
                            <img class="round-1" src ="{{ '/reply/' + reply.image_path }}">
                        </figure>
                    {% endif %}

                    <label class="checkbox my-2">
                        <input type="checkbox" name="delete-image">
                        Delete current image? <p class="has-text-danger">(This action cannot be undone)</p>
                    </label>

                    <div class="file my-3">
                        <label id="edit-reply-image-upload-{{ reply.reply_id }}" class="file-label">
                            <input id="{{ reply.reply_id }}" class="file-input mb-5 body-font" type="file" name="reply-image" accept="image/png, image/jpeg, image/jpg">
                            <span class="file-cta">
                                <span class="file-label heading-font"> 
                                    <img class="image is-24x24 mr-2" src="/assets/forum_add_images.png">
                                    Add Images 
                                </span>
                            </span>
                            <span class="file-name">
                                No file chosen
                            </span>
                        </label>
                    </div>

                    <i><p>New image preview:</p></i>
                    <figure style="width: 150px;">
                        <img class="m-2" id="edit-reply-image-preview-{{ reply.reply_id }}" src=""> 
                    </figure>
                    
                    <input class="button yellow-bg spaced-font" type="submit" value="SAVE CHANGES">
                </div>
                </form>
            </section>

        </div>
    </section>

    <!-- DELETE REPLY MODAL -->
    <section id="{{ reply.username }}_reply_delete_{{ reply.reply_id }}" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card m-2">

            <header class="modal-card-head">
                <div class="modal-card-title is-flex">
                <img class="image is-32x32" src="/assets/profile_delete.png"> 
                <h2 class="has-text-black is-size-5 ml-3">Delete Post?</h2>
                </div>
                <button class="delete" aria-label="close" onclick="launchModal('{{ reply.username }}_reply_delete_{{ reply.reply_id }}');"></button>
            </header>

            <form action="?" method="POST" enctype="multipart/form-data">
            <section class="modal-card-body">
                <p class="m-2 is-size-6">This action cannot be undone.</p>
                <input type="hidden" name="form-type" value="delete-reply">
                <input type="hidden" name="reply-id" value="{{ reply.reply_id }}">
            </section>
            <footer class="modal-card-foot">
                <input class="button is-danger spaced-font" type="submit" value="DELETE">
                <button class="button spaced-font" onclick="launchModal('{{ reply.username }}_reply_delete_{{ reply.reply_id }}');">
                    CANCEL
                </button>
            </footer>
            </form>
        </div>
    </section>
    {% endif %}

    {% if errors %}
        {% if errors['reply-id'] == reply.reply_id %}
            <script> launchModal('{{ reply.username }}_{{ reply.thread_id }}_{{ reply.reply_id }}') </script>
        {% endif %}
    {% endif %}

{% endfor %}

</div>
</div>


<script>
    const editThreadImageInput = document.querySelector('#edit-thread-image-upload input[type=file]');

    editThreadImageInput.onchange = () => {
        if (editThreadImageInput.files.length > 0) {
        const fileName = document.querySelector('#edit-thread-image-upload .file-name');
            fileName.textContent = editThreadImageInput.files[0].name;
        }
        var reader = new FileReader();
        reader.onload = function(){
                var output = document.getElementById('edit-thread-image-preview');
                output.src = reader.result;
            };
        reader.readAsDataURL(editThreadImageInput.files[0]);
    }
</script>


<script>
    const addReplyImageInput = document.querySelector('#add-reply-image-upload input[type=file]');

    addReplyImageInput.onchange = () => {
        if (addReplyImageInput.files.length > 0) {
        const fileName = document.querySelector('#add-reply-image-upload .file-name');
            fileName.textContent = addReplyImageInput.files[0].name;
        }
        var reader = new FileReader();
        reader.onload = function(){
                var output = document.getElementById('add-reply-image-preview');
                output.src = reader.result;
            };
        reader.readAsDataURL(addReplyImageInput.files[0]);
    }
</script>

<script>
    const editReplyInputs = document.querySelectorAll('[id^="edit-reply-image-upload"]');

    for(var i=0; i < editReplyInputs.length; i++)  
    {
        const imageInput = document.querySelector('#'+ editReplyInputs[i].id + " input[type=file]")

        imageInput.onchange = () => {
        if (imageInput.files.length > 0) {
            const fileName = document.querySelector('#edit-reply-image-upload-' + imageInput.id + ' .file-name');
            fileName.textContent = imageInput.files[0].name;
        }
        var reader = new FileReader();
        reader.onload = function(){
                var output = document.getElementById('edit-reply-image-preview-' + imageInput.id);
                output.src = reader.result;
            };
        reader.readAsDataURL(imageInput.files[0]);
        }
    } 

</script>
{% endblock %}