{% extends "base.html" %}
{% block content %}
<section class="columns">
    <div class="column is-one-fifth my-5"></div>
    <div class="column is-three-fifths mx-5 my-5">
        <br><br><br> 
        <h2 class="heading-font is-size-2 mb-3">About BirdNet</h2>

        <p class="is-size-4">
            BirdNet is a website which offers tools and resources for bird watchers. We have tools like photo bird-identification and a bird database containing information about a variety of birds. 
            <br><br>We also have a forum, where bird-watchers can interact and discuss about birds, sightings amongst other topics.
        </p>
        <br><br><br> 
    </div>
    <div class="column is-one-fifth my-5"></div>
</section>
{% endblock %}