{% extends "base.html" %}
{% block content %}

{% if deletion %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
          {% for message in messages %}
          <h1 class="heading-font is-size-3 has-text-black mx-2 mb-3 has-text-centered">We're sorry to see you go :(</h1>
          <p>Your account has been deleted.</p>
          {% endfor %}
          {% endif %}
  {% endwith %}
{% else %}
<div id="container">
<div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center">  

<div class="login-card">
        <section class="card p-5 m-4">
            <h1 class="heading-font is-size-3 has-text-black mx-2 mb-3 has-text-centered">Delete Account</h1>
            <p>
                Please reconsider before deleting your account. This action CANNOT be undone. 
                Your profile and personal data will be deleted, but your posts and comments will NOT be deleted.
            </p>
            {% if errors %}
            <br><br>
            <span class="notification is-danger my-5">
              Incorrect username or password. Please try again.
            </span>
            <br><br>
            {% endif %}
            <form class="my-2" action="" method="POST" onsubmit="return confirm('Do really want to delete your account? \nClick OK to proceed.')">
                <label class="label mt-4">Please retype your username:</label>
                <input class="input input-shadow" type="text" name="username" required/>
                <label class="label mt-4">Please enter your password:</label>
                <input class="input input-shadow" type="password" name="password" required/>
                <label class="label mt-4">Please re-enter your password:</label>
                <input class="input input-shadow" type="password" name="retype-password" required/>

                <input class="input button round-1 is-danger spaced-font mt-6" type="submit" value="DELETE ACCOUNT">
            </form>
        
        </section>
</div>

</div>
</div>
{% endif %}

{% endblock %} 