{% extends "base.html" %}
{% block content %}
<div id="container">
<div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center">  

<div class="login-card">
    <section class="card p-6 m-4">
        <h1 class="heading-font is-size-3 has-text-black mx-2 mb-5 has-text-centered">Reset Password</h1>

        {% if status == "successful" %}
            <p class="notification has-text-success">
                Password has been changed successfully!
            </p>
        {% elif status == "incorrect_password" %}
            <p class="notification has-text-danger">
                The entered current password is incorrect
            </p>
        {% elif status == "passwords_dont_match" %}
            <p class="notification has-text-danger">
                The entered new passwords do not match.
            </p>
        {% elif status == "unsuccessful" %}
            <p class="notification has-text-danger">
                Password reset was unsuccessful
            </p>
        {% elif status == "pwd_error_message" %}
            <p class="mt-2 has-text-danger">
                <b>The new password should have:</b> <br>
                <ul class="has-text-danger" style="list-style-type: disc;">
                    <li>At least one number</li> 
                    <li>At least one uppercase and one lowercase character</li> 
                    <li>At least one special symbol</li>  
                    <li>Should be at least 8 characters long</li>
                </ul>
            </p>
        {% endif %}

        <form class="mt-4 mb-2" action="" method="POST">
            <label class="label">Current Password:</label>
            <input class="input input-shadow" type="password" name="current_pwd" required/> <br/><br/>
            <label class="label">New Password:</label>
            <input class="input input-shadow" type="password" name="new_pwd" required/>  <br/><br/>
            <label class="label">Reconfirm New Password:</label>
            <input class="input input-shadow" type="password" name="reconfirm_new_pwd" required/>  <br/><br/><br/>

            <input class="input button round-1 yellow-bg spaced-font" type="submit" value="RESET">
        </form>
        <p class="mt-6 has-text-centered">Return back to <a href="/profile">your profile</a> </p>
    </section>
    </div>

</div>
</div>
{% endblock %} 