{% extends "base.html" %}
{% block content %}

<script>
    function launchModal(modalId) {
        var modal = document.getElementById(modalId);
        modal.classList.toggle("is-active");
    }
 
    function selectButton(radioButtonId) {
        var radioButton = document.getElementById(radioButtonId);
        radioButton.setAttribute("checked", "");
    }

    function toggleDropdown(id) {
        document.getElementById(id).classList.toggle('is-active');
    }
</script>

<section class="column mx-5 is-flex is-flex-direction-column is-justify-content-center">
{% with messages = get_flashed_messages() %}
{% if messages %}
        {% for message in messages %}
        <span class="notification is-success my-4">{{ message }}</span>
        {% endfor %}
  {% endif %}
{% endwith %}
</section>

<!-- MAIN SECTION -->
<main class="columns is-gapless my-5">
    <!-- PROFILE -->
    <section class="column is-two-fifths">
        <div class="card m-5 round-1">
            <div class="is-flex is-justify-content-center">
                <figure class="image is-128x128 my-3">
                    <img class="is-rounded" src={{ "\\profile_photos\\" + user.profile_photo_path }}> 
                </figure>
            </div>
            <h1 class="heading-font has-text-centered is-size-2"> {{ user.firstname + " " +  user.lastname }} </h1>
            <h2 class="heading-font has-text-centered is-size-3 mb-3 is-flex is-align-items-center is-justify-content-center">
                @{{ user.username }}
                {% if user.is_admin == True %}
                    <img class="image is-48x48" src="/assets/admin_badge.png">
                {% endif %}
            </h2>

            <div class="is-flex is-justify-content-center is-align-items-center mb-5">
                <img class="image is-32x32" src="/assets/profile_joined.png">
                <p class="is-size-5 ml-3">Joined {{ user.signup_date.strftime("%B %Y") }}</p>
            </div>
            {% if user.username == session['username'] %}
            <div class="is-flex is-justify-content-center is-align-items-center mt-5 mb-3">
                {% if user.username == "superadmin" or user.username == "admin" %}
                <img class="image is-32x32" src="/assets/admin_panel_badge.png"> 
                    <a class="has-text-black is-size-5 ml-3" href="/superadmin_panel/">Visit Superadmin Panel</a>
                {% endif %}
            </div>
            <div class="is-flex is-justify-content-center is-align-items-center mb-3">
                {% if user.is_admin %}
                <img class="image is-32x32" src="/assets/bird_panel.png"> 
                    <a class="has-text-black is-size-5 ml-3" href="/bird_details_panel/">Visit Bird Details Panel</a>
                {% endif %}
            </div>
            <div class="is-flex is-justify-content-center is-align-items-center mb-3">
                <img class="image is-32x32" src="/assets/profile_edit.png"> 
                <a class="has-text-black is-size-5 ml-3" href="javascript:launchModal('editModal');">Edit Profile Information</a>
            </div>
            <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mb-3">
                <a class="has-text-black is-size-6 ml-3 py-3" href="/password_reset">Change Password</a>
                <a class="has-text-black is-size-6 ml-3 py-3" href="/delete_account">Delete Account</a>
            </div>
            {% endif %}
            <h3 class="heading-font is-size-4 mx-5">About:</h3>
            <p class="body-font is-size-5 m-5">
                {% if user.bio == None %}
                    <i>No bio entered yet</i>
                {% else %}
                    {% for line in user.bio.split('\n') %}
                        {{ line }}<br>
                    {% endfor %}
                {% endif %}
            </p>
        </div>
    </section>

    <!-- RECENT THREADS -->
    <section class="column m-5 ">
        {% if user.username == session['username'] %}
        <h2 class="heading-font is-size-3 is-half my-5 ">Your recent threads</h2>
        {% else %}
        <h2 class="heading-font is-size-3 is-half my-5 ">Recent threads</h2>
        {% endif %}

        {% if recent_threads.count() == 0 %}
        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
            <i><h1 class="heading-font is-size-4 has-text-grey has-text-centered my-3">No recent threads found</h1></i>
            {% if 'username' in session %}
                <a href="/forum/"> Start a new thread here </a>
            {% endif %}
            <figure class="image p-3 m-5">
                <img src="/images/sample_img_2.png">
            </figure>
        </div>
        {% endif %}

        {{ recent_threads.type }}
        {% for thread in recent_threads %}
        <div class="card p-3 round-1 mb-5">
            <div class="media">
                 <div class="media-left">
                     <figure class="image is-48x48">
                        <img class="is-rounded" src="{{ '/profile_photos/' + thread.creator.profile_photo_path }}"> 
                     </figure>
                 </div>
                 <div class="media-content">
                     <p class="is-flex is-align-items-center">
                        By &nbsp;<a href="{{ '/profile/' + thread.username}}">{{ thread.username }}</a> 
                        {% if thread.creator.is_admin == True %}
                            <img class="image is-24x24" src="/assets/admin_badge.png">
                        {% endif %}
                        &nbsp;at {{ thread.creation_date.strftime('%H:%M, %d %B, %Y') }} 
                    </p>
                    <a href= "{{ '/forum/thread/{}'.format(thread.thread_id) }}" class="heading-font is-size-4 mb-3 has-text-black">
                        {{ thread.title }}
                    </a>
                 </div>
             </div>
 
             <div class="media">
                {% if thread.image_path != None %}
                 <div class="media-left">
                     <figure>
                         <img class="image" width="200" src="{{ '\\thread\\' + thread.image_path }}"> 
                     </figure>
                 </div>
                 {% endif %}
                 <div class="media-content">
                     <p class="">
                        {% for line in thread.caption.split('\n') %}
                            {{ line }} <br>
                        {% endfor %}
                     </p>    
                 </div>
             </div>
             <footer class="card-footer">
                {% if 'username' in session %}
                 <a href="{{ '/forum/thread/{}'.format(thread.thread_id) }}" class="card-footer-item">Reply</a>
                 {% endif %}
                 <a href="{{ '/forum/thread/{}'.format(thread.thread_id) }}" class="card-footer-item">1.2k views</a>
             </footer>
         </div>
         {% endfor %}

    </section>
</main>

{% if user.username == session['username'] %}
<section id="editModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card m-2">

        <header class="modal-card-head">
          <div class="modal-card-title is-flex">
            <img class="image is-32x32" src="/assets/profile_edit.png"> 
            <a class="has-text-black is-size-5 ml-3" href="#">Edit Profile Information</a>
          </div>
          <button class="delete" aria-label="close" onclick="launchModal('editModal');"></button>
        </header>

        <section class="modal-card-body">
            <form class="my-2" action="?" method="POST" enctype="multipart/form-data">
                <div class="columns mb-5">
                    <div class="column px-2">
                        <label class="label">Update First Name:</label>
                        <input class="input input-shadow" type="text" name="firstname" required value={{ user["firstname"] }} >
                        {% if errors %}
                            {% if errors["firstname"] %}
                                <p class="mt-2 has-text-danger"> {{ errors['firstname'] }} </p>
                            {% endif %}
                        {% endif %} 
                    </div>
                    <div class="column px-2">
                        <label class="label">Update Last Name:</label>
                        <input class="input input-shadow" type="text" name="lastname" required value={{ user["lastname"] }} >
                        {% if errors %}
                            {% if errors["lastname"] %}
                                <p class="mt-2 has-text-danger"> {{ errors['lastname'] }} </p>
                            {% endif %}
                        {% endif %}  
                    </div>  
                </div>

                <div class="is-flex is-align-content-center mb-4">
                    <label class="label mr-4">Update gender:</label>
                    <label class="radio mr-2 has-text-centered">
                        <input id="male" type="radio" name="gender" value="m"> &nbsp; Male
                    </label>
                    <label class="radio mr-2 has-text-centered">
                        <input id="female" type="radio" name="gender" value="f"> &nbsp; Female
                    </label>
                    <label class="radio mr-2 has-text-centered">
                        <input id="other" type="radio" name="gender" value="o"> &nbsp; Other
                    </label>
                    {% if user["gender"] == "m" %}
                        <script> selectButton("male"); </script>
                    {% elif user["gender"] == "f" %}
                        <script> selectButton("female"); </script>
                    {% elif user[gender] == "o" %}
                        <script> selectButton("other"); </script>
                    {% endif %}

                    {% if errors %}
                        {% if errors["gender"] %}
                            <p class="mt-2 n has-text-danger"> {{ errors['gender'] }} </p>
                        {% endif %}
                    {% endif %}  
                </div>

                <div>
                    <label class="label mr-4">Change your profile photo:</label>
                    <div id="profile-photo-upload" class="file mb-5">
                        <label class="file-label">
                            <input class="file-input mb-5 body-font" type="file" name="profile-photo" accept="image/png, image/jpeg, image/jpg">
                            <span class="file-cta">
                                <span class="file-label heading-font"> 
                                    <img class="image is-24x24 mr-2" src="/assets/forum_add_images.png">
                                    Upload New Profile Photo 
                                </span>
                            </span>
                            <span class="file-name">
                                No file chosen
                            </span>
                        </label>
                    </div>

                    <i><p>Image Preview:</p></i>
                    <figure style="width: 150px;">
                        <img class="m-2" id="image-upload-preview" src="{{ '/profile_photos/' + user.profile_photo_path }}"> 
                    </figure>
                </div>
            
                <div class="mb-5">
                    <label class="label">Enter your bio:</label>
                    <textarea class="textarea input-shadow" name="bio" placeholder="Enter something about you">{{ user["bio"] }}</textarea>
                    {% if errors %}
                            {% if errors["bio"] %}
                                <p class="mt-2 has-text-danger"> {{ errors['bio'] }} </p>
                            {% endif %}
                    {% endif %}   
                </div>

                <div class="columns mb-5">
                    <div class="column px-2">
                        <label class="label">Update Email ID:</label>
                        <input class="input input-shadow" type="email" name="email" required value={{ user["email"] }} >
                        {% if errors %}
                            {% if errors["email"] %}
                                <p class="mt-2 has-text-danger"> {{ errors['email'] }} </p>
                            {% endif %}
                        {% endif %}   
                    </div>
                    <div class="column px-2">
                        <label class="label">Update username:</label>
                        <input class="input input-shadow" type="text" name="username" required value={{ user["username"] }} >
                        {% if errors %}
                            {% if errors["username"] %}
                                <p class="mt-2 has-text-danger"> {{ errors['username'] }} </p>
                            {% endif %}
                        {% endif %}  
                    </div>  
                </div>
                
                <div class="is-flex is-justify-content-center" > 
                    <input class="input button round-1 yellow-bg spaced-font" style="width: 60%;" type="submit" value="UPDATE"> 
                </div>
            </form>
        </section>
    </div>
</section>
{% endif %}

{% if errors %}
    <script> launchModal('editModal') </script>
{% endif %}

<script>
    const fileInput = document.querySelector('#profile-photo-upload input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
        const fileName = document.querySelector('#profile-photo-upload .file-name');
            fileName.textContent = fileInput.files[0].name;
        }
        var reader = new FileReader();
        reader.onload = function(){
                var output = document.getElementById('image-upload-preview');
                output.src = reader.result;
            };
        reader.readAsDataURL(fileInput.files[0]);
    }
</script>


{% endblock %}